html,
body {
  color: var(--font-color, #333);
  background-color: var(--bg-color, #fff);
}
 
#app {
  margin: 0;
	padding: 0;
	width: 100%;
  max-width: none;
	height: 100%;
	font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, SimSun, sans-serif;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	-webkit-tap-highlight-color: transparent;
	background-color: #f8f8f8;
	font-size: 14px;
	overflow: hidden;
	position: relative;
}